 .background{
 

 height: 100vh;

  width: 100%;
 
position: relative;
margin-bottom: 30px;  } 



  .text{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
   text-align: center;
    color:white;
padding-top: 200px;
position: absolute;
position: fixed;
  
   top:0;
   left:0;
   right: 0;
  }
  




.title{

  font-weight: 900;
  font-size: 90px;
 
}


.background img {

 
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  z-index: -1; 
background-repeat: no-repeat;
background-size: 100%;
 filter: brightness(30%);
}

.gallerySeperator{
  height: 100vh;
  background-color: transparent;
}


